-- MySQL dump 10.13  Distrib 8.4.10, for Linux (x86_64)
--
-- Host: localhost    Database: foam_wash_db
-- ------------------------------------------------------
-- Server version	8.4.10

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `calificacion`
--

DROP TABLE IF EXISTS `calificacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `calificacion` (
  `Id_Calificacion` int NOT NULL AUTO_INCREMENT,
  `empleado_Id_Usuario` int NOT NULL COMMENT 'FK: Empleado calificado',
  `reserva_ID_Reserva` int NOT NULL COMMENT 'FK: Reserva calificada',
  `puntaje` decimal(2,1) NOT NULL COMMENT 'Calificaci├│n del 1 al 5',
  `comentario` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'Comentario del cliente',
  `es_positivo` tinyint(1) DEFAULT '1' COMMENT '1=positivo, 0=negativo',
  `fecha_calificacion` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`Id_Calificacion`),
  KEY `empleado_Id_Usuario` (`empleado_Id_Usuario`),
  KEY `reserva_ID_Reserva` (`reserva_ID_Reserva`),
  CONSTRAINT `calificacion_ibfk_1` FOREIGN KEY (`empleado_Id_Usuario`) REFERENCES `usuario` (`Id_Usuario`),
  CONSTRAINT `calificacion_ibfk_2` FOREIGN KEY (`reserva_ID_Reserva`) REFERENCES `reserva` (`ID_Reserva`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `calificacion`
--

LOCK TABLES `calificacion` WRITE;
/*!40000 ALTER TABLE `calificacion` DISABLE KEYS */;
INSERT INTO `calificacion` VALUES (1,3,10,4.8,'Excelente servicio, muy puntual',1,'2026-02-23 15:00:08'),(2,3,15,5.0,'Perfecto, qued├│ como nuevo',1,'2026-02-23 15:00:08'),(3,3,16,4.5,'Muy buen trabajo, recomendado',1,'2026-02-23 15:00:08'),(4,3,17,4.9,'R├ípido y eficiente',1,'2026-02-23 15:00:08'),(5,3,18,4.7,'Buen servicio',1,'2026-02-23 15:00:08');
/*!40000 ALTER TABLE `calificacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `cotizacion`
--

DROP TABLE IF EXISTS `cotizacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `cotizacion` (
  `Id_Cotizacion` int NOT NULL AUTO_INCREMENT COMMENT 'PK: Identificador ├║nico de la cotizaci├│n',
  `Id_usuario` int NOT NULL COMMENT 'FK: Usuario que realiz├│ la cotizaci├│n',
  `Precio_cotizado` decimal(10,2) NOT NULL COMMENT 'Precio final de la cotizaci├│n',
  `Cantidad` int NOT NULL COMMENT 'Cantidad de servicios cotizados',
  `Tama├▒o` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Tama├▒o del mueble',
  `fecha_cotizacion` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'Fecha de creaci├│n de la cotizaci├│n',
  `Id_servicio` int DEFAULT NULL,
  PRIMARY KEY (`Id_Cotizacion`),
  KEY `fk_cotizacion_usuario_idx` (`Id_usuario`),
  KEY `fk_cotizacion_servicio` (`Id_servicio`),
  CONSTRAINT `fk_cotizacion_servicio` FOREIGN KEY (`Id_servicio`) REFERENCES `servicio` (`Id_Servicio`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_cotizacion_usuario` FOREIGN KEY (`Id_usuario`) REFERENCES `usuario` (`Id_Usuario`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=31 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `cotizacion`
--

LOCK TABLES `cotizacion` WRITE;
/*!40000 ALTER TABLE `cotizacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `cotizacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `empleado`
--

DROP TABLE IF EXISTS `empleado`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `empleado` (
  `Id_Empleado` int NOT NULL AUTO_INCREMENT,
  `usuario_Id_Usuario` int NOT NULL COMMENT 'FK: Usuario trabajador',
  `cargo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Cargo del empleado ej: T├®cnico Senior',
  `fecha_nacimiento` date DEFAULT NULL COMMENT 'Fecha de nacimiento',
  `fecha_ingreso` date DEFAULT NULL COMMENT 'Fecha de ingreso a la empresa',
  `dias_laborales` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Ej: Lunes a Viernes',
  `horario` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Ej: 8:00 AM - 5:00 PM',
  `especialidades` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'Lista de especialidades separadas por coma',
  `certificaciones` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'JSON o texto con certificaciones',
  `contacto_emergencia_nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  `contacto_emergencia_telefono` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`Id_Empleado`),
  KEY `usuario_Id_Usuario` (`usuario_Id_Usuario`),
  CONSTRAINT `empleado_ibfk_1` FOREIGN KEY (`usuario_Id_Usuario`) REFERENCES `usuario` (`Id_Usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `empleado`
--

LOCK TABLES `empleado` WRITE;
/*!40000 ALTER TABLE `empleado` DISABLE KEYS */;
INSERT INTO `empleado` VALUES (1,3,'T├®cnico de Limpieza Senior','2000-02-25',NULL,'martes, miercoles, jueves, viernes, sabado','08:00 - 17:00','sillas, tapiceria','Tecnicas de limpieza de sillas, manejo de productos de tapiceria, manejo de productos de pintura.',NULL,NULL);
/*!40000 ALTER TABLE `empleado` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `notificaciones`
--

DROP TABLE IF EXISTS `notificaciones`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `notificaciones` (
  `id_notificaciones` int NOT NULL AUTO_INCREMENT COMMENT 'Identificador ├║nico de la notificaci├│n',
  `descripcion_notificacion` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Descripci├│n de la notificaci├│n',
  `fecha_notificacion` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'Fecha de creaci├│n de la notificaci├│n',
  `usuario_Id_Usuario` int NOT NULL COMMENT 'FK: Usuario de la notificaci├│n',
  PRIMARY KEY (`id_notificaciones`),
  KEY `fk_notificaciones_usuario_idx` (`usuario_Id_Usuario`),
  CONSTRAINT `fk_notificaciones_usuario` FOREIGN KEY (`usuario_Id_Usuario`) REFERENCES `usuario` (`Id_Usuario`) ON DELETE CASCADE ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `notificaciones`
--

LOCK TABLES `notificaciones` WRITE;
/*!40000 ALTER TABLE `notificaciones` DISABLE KEYS */;
/*!40000 ALTER TABLE `notificaciones` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `observacion`
--

DROP TABLE IF EXISTS `observacion`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `observacion` (
  `Id_Observaciones` int NOT NULL AUTO_INCREMENT COMMENT 'PK: Identificador ├║nico de la observaci├│n',
  `Observaciones` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'Texto de la observaci├│n',
  `estado` varchar(45) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Estado de la observaci├│n',
  PRIMARY KEY (`Id_Observaciones`)
) ENGINE=InnoDB AUTO_INCREMENT=16 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `observacion`
--

LOCK TABLES `observacion` WRITE;
/*!40000 ALTER TABLE `observacion` DISABLE KEYS */;
/*!40000 ALTER TABLE `observacion` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `reserva`
--

DROP TABLE IF EXISTS `reserva`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `reserva` (
  `ID_Reserva` int NOT NULL AUTO_INCREMENT COMMENT 'PK: Identificador ├║nico de la reserva',
  `Estado` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'Pendiente' COMMENT 'Estado actual de la reserva',
  `Id_Usuario` int NOT NULL COMMENT 'FK: Usuario que gestion├│ la reserva',
  `fecha` date NOT NULL COMMENT 'Fecha programada para la realizacion del servicio',
  `Hora` time NOT NULL COMMENT 'Hora programada para el servicio',
  `Informacion_adicional` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'Informaci├│n adicional del cliente',
  `observacion_Id_Observaciones` int NOT NULL COMMENT 'FK: Observaci├│n de la reserva',
  `empleado_Id_Usuario` int DEFAULT NULL COMMENT 'FK: Empleado asignado a esta reserva',
  PRIMARY KEY (`ID_Reserva`),
  KEY `fk_reserva_usuario_idx` (`Id_Usuario`),
  KEY `fk_reserva_observacion_idx` (`observacion_Id_Observaciones`),
  KEY `fk_reserva_empleado` (`empleado_Id_Usuario`),
  CONSTRAINT `fk_reserva_empleado` FOREIGN KEY (`empleado_Id_Usuario`) REFERENCES `usuario` (`Id_Usuario`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_reserva_observacion` FOREIGN KEY (`observacion_Id_Observaciones`) REFERENCES `observacion` (`Id_Observaciones`) ON UPDATE CASCADE,
  CONSTRAINT `fk_reserva_usuario` FOREIGN KEY (`Id_Usuario`) REFERENCES `usuario` (`Id_Usuario`) ON UPDATE CASCADE,
  CONSTRAINT `reserva_ibfk_1` FOREIGN KEY (`empleado_Id_Usuario`) REFERENCES `usuario` (`Id_Usuario`)
) ENGINE=InnoDB AUTO_INCREMENT=28 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `reserva`
--

LOCK TABLES `reserva` WRITE;
/*!40000 ALTER TABLE `reserva` DISABLE KEYS */;
/*!40000 ALTER TABLE `reserva` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `rol`
--

DROP TABLE IF EXISTS `rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `rol` (
  `Id_Rol` int NOT NULL AUTO_INCREMENT COMMENT 'PK: Identificador ├║nico del rol',
  `Rol` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Nombre del rol (ej: Administrador, Trabajador, Cliente)',
  PRIMARY KEY (`Id_Rol`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `rol`
--

LOCK TABLES `rol` WRITE;
/*!40000 ALTER TABLE `rol` DISABLE KEYS */;
INSERT INTO `rol` VALUES (1,'admin'),(2,'trabajador'),(3,'cliente');
/*!40000 ALTER TABLE `rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `servicio`
--

DROP TABLE IF EXISTS `servicio`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `servicio` (
  `Id_Servicio` int NOT NULL AUTO_INCREMENT COMMENT 'PK: Identificador ├║nico del servicio',
  `Nombre_Servicio` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Nombre o descripci├│n del servicio',
  `Precio` decimal(10,2) NOT NULL COMMENT 'Precio del servicio',
  `descripcion` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Descripci├│n del servicio',
  `imagen_url` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Campo para guardar la imagen de cada servicio',
  `cotizacion_Id_Cotizacion` int DEFAULT NULL COMMENT 'FK de la cotizaci├│n (opcional)',
  `reserva_ID_Reserva` int DEFAULT NULL COMMENT 'FK de la reserva (opcional)',
  `estado` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL DEFAULT 'activo',
  `duracion_estimada` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL,
  PRIMARY KEY (`Id_Servicio`),
  KEY `fk_servicio_cotizacion_idx` (`cotizacion_Id_Cotizacion`),
  KEY `fk_servicio_reserva_idx` (`reserva_ID_Reserva`),
  CONSTRAINT `fk_servicio_cotizacion` FOREIGN KEY (`cotizacion_Id_Cotizacion`) REFERENCES `cotizacion` (`Id_Cotizacion`) ON DELETE SET NULL ON UPDATE CASCADE,
  CONSTRAINT `fk_servicio_reserva` FOREIGN KEY (`reserva_ID_Reserva`) REFERENCES `reserva` (`ID_Reserva`) ON DELETE SET NULL ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=30 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `servicio`
--

LOCK TABLES `servicio` WRITE;
/*!40000 ALTER TABLE `servicio` DISABLE KEYS */;
/*!40000 ALTER TABLE `servicio` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tipo_de_documento`
--

DROP TABLE IF EXISTS `tipo_de_documento`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tipo_de_documento` (
  `idTipo_de_Documento` int NOT NULL AUTO_INCREMENT COMMENT 'Identificador ├║nico del tipo de documento',
  `nombre_del_documento` varchar(50) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci NOT NULL COMMENT 'Nombre del documento o DNI',
  PRIMARY KEY (`idTipo_de_Documento`),
  UNIQUE KEY `nombre_del_documento_UNIQUE` (`nombre_del_documento`)
) ENGINE=InnoDB AUTO_INCREMENT=8 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tipo_de_documento`
--

LOCK TABLES `tipo_de_documento` WRITE;
/*!40000 ALTER TABLE `tipo_de_documento` DISABLE KEYS */;
INSERT INTO `tipo_de_documento` VALUES (1,'C├®dula de Ciudadan├¡a'),(3,'C├®dula de Extranjer├¡a'),(5,'NIT'),(4,'Pasaporte'),(7,'Registro Civil'),(6,'RUT'),(2,'Tarjeta de Identidad');
/*!40000 ALTER TABLE `tipo_de_documento` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `usuario`
--

DROP TABLE IF EXISTS `usuario`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `usuario` (
  `Id_Usuario` int NOT NULL AUTO_INCREMENT COMMENT 'PK: Identificador ├║nico del usuario',
  `Nombre` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Nombre del usuario registrado en el sistema',
  `Telefono` varchar(15) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'N├║mero de tel├®fono de contacto',
  `N_Documento` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'N├║mero de documento de identificaci├│n',
  `Direccion` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Direcci├│n de residencia o lugar de trabajo',
  `Correo` varchar(100) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Correo electr├│nico del usuario',
  `password_hash` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'contrase├▒a encritada de cada usuario',
  `estado` enum('activo','inactivo') CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT 'activo' COMMENT 'estado del usuario, ejemplo activo.',
  `rol_Id_Rol` int DEFAULT NULL COMMENT 'FK del rol',
  `tipo_de_documento_id_tipo_de_documento` int DEFAULT NULL,
  `reset_token` varchar(10) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'token creado para la restauracion de la contrase├▒a se envia al correo electronico del usuario.',
  `reset_token_expires` datetime DEFAULT NULL COMMENT 'tiempo de expiracion del token de restablecer contrase├▒a.',
  `last_login` datetime DEFAULT NULL COMMENT 'fecha dde ultimo cierre de sesion.',
  `fecha_registro` datetime DEFAULT CURRENT_TIMESTAMP COMMENT 'fecha de ultimo inicio de sesion exicitoso.',
  `access_token` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'Token de acceso (JWT)',
  `refresh_token` text CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci COMMENT 'Token de refresco (JWT)',
  `token_created_at` datetime DEFAULT NULL COMMENT 'Fecha de creaci├│n del token',
  `token_expires_at` datetime DEFAULT NULL COMMENT 'Fecha de expiraci├│n del token',
  `foto_perfil` varchar(255) CHARACTER SET utf8mb4 COLLATE utf8mb4_general_ci DEFAULT NULL COMMENT 'Ruta de la foto de perfil',
  PRIMARY KEY (`Id_Usuario`),
  UNIQUE KEY `N_Documento` (`N_Documento`),
  UNIQUE KEY `Correo` (`Correo`),
  KEY `fk_usuario_rol1_idx` (`rol_Id_Rol`),
  KEY `fk_usuario_Tipo_de_Documento1_idx` (`tipo_de_documento_id_tipo_de_documento`),
  KEY `idx_access_token` (`access_token`(255)),
  CONSTRAINT `fk_usuario_rol1` FOREIGN KEY (`rol_Id_Rol`) REFERENCES `rol` (`Id_Rol`) ON UPDATE CASCADE,
  CONSTRAINT `fk_usuario_Tipo_de_Documento1` FOREIGN KEY (`tipo_de_documento_id_tipo_de_documento`) REFERENCES `tipo_de_documento` (`idTipo_de_Documento`) ON UPDATE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=10000029 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `usuario`
--

LOCK TABLES `usuario` WRITE;
/*!40000 ALTER TABLE `usuario` DISABLE KEYS */;
/*!40000 ALTER TABLE `usuario` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-09-11  4:17:54
